@{
    Layout = "/Views/Account/MainLayout.cshtml";
}

@model ProjectMVC.Models.AccountViewModel


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My profile</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQb7xOLJAqp2w9n0fM8T595phvts_4W80qexg&usqp=CAU');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        .profile {
            max-width: 700px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .profile-header {
            display: flex;
            align-items: center;
            margin-bottom: 20px;
        }

        .profile-header img {
            width: 100px;
            border-radius: 50%;
            margin-right: 20px;

        }

        .profile-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .profile-posts {
            margin-top: 20px;
            border-radius: 5px;
        }

        .post-creation {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .post-creation textarea {
            resize: none;
            width: 600px;
            height: 100px;
            margin-bottom: 20px;
            margin-top: 10px;
            border-radius: 5px;
            background-color: #F5F5DC;
        }
        .post-creation input {
            width: 600px;
            border-radius: 5px;
            background-color: #F5F5DC;

        }
        .post-input button {
            height: 30px;
            width: 100px;
            font-size: 16px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            border-radius: 5px;
            margin-bottom: 20px;
            background-color: #F5E0F1;
        }
        .post-input button:hover {
            background-color: #DB7093;
            color: white;

        }
        .post {
            width: 600px;
            margin-bottom: 10px;
            padding: 10px;
            background-color: #F5F5DC;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <div class="profile">
        <div class="profile-header">
            <img src=@Model.ProfileImage alt="Avatar" style="width:200px">
            <div class="profile-info">
                <h2>@Model.AccountUser.Username</h2>
                <h4>Age: @Model.AccountUser.Age</h4>
                @{
                    if (Model.AccountUser.Psycologist)
                    {
                        <h4>Psycologist</h4>
                    }
                }
                
            </div>
        </div>

        <form method="post">
            <div class="post-creation">

                <input type="text" placeholder="Your post title" id="postTheme" name="postTheme">

                <textarea placeholder="Write your thoughts here..." name="postText"></textarea>
                <div class="post-input">
                    <button asp-action="AddPost">Post</button>
                </div>
            </div>
        </form>


        <div class="profile-posts">
            <form>
                @foreach (Post post in Model.Posts)
                {
                    <div class="post">
                        <h4>@post.Theme</h4>
                        <p>@post.Content</p>
                        <p>@post.Date</p>
                        <a asp-controller="Account" asp-action="DeletePost" asp-route-id="@post.Id">Delete post</a>
                    </div>
                }
            </form>

        </div>
    </div>
</body>

